.--orchid {
    color: $c-orchid;
}
.--white {
    color: $c-white;
}
.--center {
    text-align: center;
}
.--fs2rem {
    font-size: 2rem;
}
.--pt3rem {
    margin-top: 3rem;
}
a {
    text-decoration: none;
}
::-webkit-scrollbar {
    width: auto;
}
::-webkit-scrollbar-track {
    background: #F9F9FC;
}
::-webkit-scrollbar-thumb {
    background-color: #656b8e;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #5e3aee;
}
