.about {
    background-color: #0f1221;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__img {
        margin: 1rem;
    }
    &__text {
        p:first-child {
            color: #505573;
            font-weight: 500;
            margin: 0;
        }
        button {
            width: 8rem;
            height: 3rem;
            font-weight: bold;
            color: #0f1221;
        }
        p {
            color: #d5d7e4;
            margin-bottom: 2rem;
        }
    }
    &__me {
        display: flex;
        align-items: center;
        gap: 1rem;
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #5e3aee;
            width: 2.2rem;
            height: 2.2rem;
            border-radius: 50%;
        }
        h2 {
            color: white;
        }
    }
}

@media only screen and (max-width: 750px) {
    .about {
        flex-direction: column;
        &__img {
            img {
                width: 100%;
            }
        }
        &__text {
            padding: 2rem;
        }
    }
}
