.contact {
    background-color: #f9f9fc;

    &__intro {
        position: relative;
        padding: 7rem 0;
        display: flex;
        justify-content: space-evenly;
    }
    &__intro::after {
        content: "If you liked the portfolio, write about this.";
        position: absolute;
        bottom: 1rem;
        color: #c4c5ca;
        font-size: small;
    }
    &__intro:hover::after {
        color: red;
    }
    &__text {
        h1,
        h2 {
            margin: 0;
            letter-spacing: -0.1rem;
        }
        h1 {
            font-size: 6rem;
        }
        h2 {
            font-size: 6rem;
            color: #5e3aee;
        }
        span {
            text-decoration: underline;
            font-weight: 600;
        }
        a {
            text-decoration: none;
            color: #656b8e;
            padding-left: 1rem;
        }
        a:hover {
            color: #5e3aee;
        }
    }
    &__phone-wrapper,
    &__email-wrapper,
    &__location-wrapper {
        display: flex;
        align-items: center;
        gap: 3rem;
    }
    &__phone,
    &__email,
    &__location {
        position: relative;
        z-index: 1;
    }

    &__gap {
        width: 100%;
        height: 8rem;
        background-color: white;
    }
    .--after::after {
        content: "";
        position: absolute;
        width: 3.5rem;
        height: 3.5rem;
        background-color: white;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        z-index: -1;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 1300px) {
    .contact {
        &__intro {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5rem;
        }
    }
}
@media only screen and (max-width: 750px) {
    .contact {
        &__intro {
        }
        &__text {
            h1,
            h2 {
                font-size: 3rem;
            }
            .firstP {
                font-size: 1.5rem;
            }
        }
    }
    .form{
        width: 20rem;
    }
}
