.counters {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #E0E2EF;
    border-top: 1px solid #E0E2EF;
    padding: 1rem;
    &__circle {
        display: flex;
        align-items: center;
        justify-content: center;
        div {
            background-color: #E0E2EF;
            width: 0.5rem;
            border-radius: 50%;
            height: 0.5rem;
        }
    }
    & > div {
        text-align: center;
    }
    p {
        color: #989dbb;
        text-transform: uppercase;
    }
}
