.direction {
   
    &__item {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        font-size: 25px;
        div {
            width: 15%;
        }
    }
    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h2 {
        font-size: 40px;
        color: $c-white;
        font-family: "Montserrat", sans-serif;
    }

    h3 {
        font-size: 70px;
        letter-spacing: 15px;
        text-align: center;
        background-image: linear-gradient($c-white 60%, $c-victoria);
        background-size: 100%;
        background-repeat: repeat;

        background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }
    a {
        &::after {
            content: "";
            border: 2px solid $c-cornflower;
            transition: all 1s ease-in;
            display: block;
            margin: 1rem 0;
        }
        &.active {
            color: $c-white;
            &::after{
                border: 2px solid $c-white;
            }
        }
        text-decoration: none;
        color: $c-cornflower;
    }
}
