.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 50px;
    padding: 5% 0;
    align-items: center;
    h2 {
        font-size: 50px;
        color: $c-white;
        text-align: center;
    }
    &__response {
        border: 2px solid $c-cornflower;
        max-width: 600px;
        border-radius: 50px;
        padding: 2%;
        margin: 5%;
        p {
            color: $c-white;
            font-size: 18px;
        }
    }
}
