.footer {
    display: flex;
    justify-content: center;
    background-color: #0f1221;
    color: $c-white;
    &__wrapper {
        display: flex;
        width: 60%;
        flex-direction: column;
    }
    &__wrapper-info {
        display: flex;
        gap: 40%;
        align-items: center;
        border-bottom: 2px solid #161a2c;
        padding: 2rem 0;
    }
    &__logo {
        width: 5rem;
        height: 5rem;
        background-color: white;
        border-radius: 50%;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        img {
            -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7);
        }
    }
    &__name {
        margin-bottom: 4rem;
        p {
            color: #494e6b;
        }
    }
    &__email {
        p:first-child {
            color: #494e6b;
        }
    }
    &__text {
        min-width: 330px;
        h2 {
            font-size: 3rem;
        }
        p {
            color: #494e6b;
            line-height: 2rem;
        }
    }
    &__links {
        margin-top: 3rem;
        display: flex;
        gap: 2rem;
    }
    &__links > svg:hover {
        color: #5e3aee;
    }
    &__routing {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        a {
            color: white;
            font-weight: 500;
        }
    }
    &__right {
        color: #3c4263;
    }
}
@media only screen and (max-width: 1200px) {
    .footer {
        &__wrapper {
            width: 90%;
        }
        &__wrapper-info {
            gap: 10%;
        }
        &__info {
            min-width: 260px;
        }
    }
}
@media only screen and (max-width: 700px) {
    .footer {
        &__wrapper-info {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        &__right {
            flex-basis: 100%;
        }
    }
}
