.form {
    width: 30rem;
    &__title {
        text-align: start;
        font-size: 2rem;
        font-weight: bold;
    }
    &__name {
        height: 50px;
        position: relative;
        width: 100%;
        margin-top: 2rem;
    }
    &__email {
        height: 50px;
        position: relative;
        width: 100%;
        margin-top: 2rem;
    }
    &__email::after {
        content: '*';
        position: absolute;
        top: 1rem;
        left: -1.5rem;
        font-size: 1.5rem;
        color: red


    }
    &__subject {
        margin-top: 30px;
        height: 50px;
        position: relative;
        width: 100%;
    }
    &__placeholder {
        color: #a5a9c3;
        font-family: sans-serif;
        left: 20px;
        line-height: 14px;
        pointer-events: none;
        position: absolute;
        transform-origin: 0 50%;
        transition: transform 200ms, color 200ms;
        top: 20px;
    }

    &__submit {
        border: 0;
        box-sizing: border-box;
        color: white;
        height: 5rem;
        margin-top: 2rem;
        font-size: 1.3rem;
        text-align: center;
        width: 100%;
        &:disabled {
            background-color: #656b8e;
        }
        &:enabled {
            background-color: #5e3aee;
            cursor: pointer;
        }
    }
    &__textarea {
        margin-top: 2rem;
        position: relative;

        textarea {
            color: #a5a9c3;
            height: 10rem;
            resize: none;
            padding-top: 1rem;
        }
        textarea::placeholder {
            color: #a5a9c3;
        }
    }
    &__cut {
        background-color: #f9f9fc;
        border-radius: 10px;
        height: 20px;
        left: 20px;
        position: absolute;
        top: -20px;
        transform: translateY(0);
        transition: transform 200ms;
        width: 55px;
    }
    &__input {
        background-color: white;
        border: 0;
        box-sizing: border-box;
        font-size: 18px;
        height: 100%;
        outline: 0;
        padding: 4px 20px 0;
        width: 100%;
        &:focus ~ .form__cut,
        .form__input:not(:placeholder-shown) ~ .form__cut {
            transform: translateY(8px);
        }
        //not working properly
        // &:focus ~ .form__placeholder,
        // .form__input:not(:placeholder-shown) ~ .form__placeholder {
        //     transform: translateY(-30px) translateX(10px) scale(0.75);
        // }
        //-----------------------------------------------------------------
        &:not(:placeholder-shown) ~ .form__placeholder {
            color: #f9f9fc;
        }
        &:focus ~ .form__placeholder {
            color: #dc2f55;
        }
    }
}

.form__input:focus ~ .form__placeholder,
.form__input:not(:placeholder-shown) ~ .form__placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}
