.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        margin: 5px;
    }
    &__wrapper {
        width: 97px;
        height: 97px;
        background-color: $c-white;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.facebook {
    &--pointer {
        cursor: pointer;
    }
}
.instagram {
    &--pointer {
        cursor: pointer;
    }
}
.linkedin {
    &--pointer {
        cursor: pointer;
    }
}
.bitbucket {
    &--pointer {
        cursor: pointer;
    }
}
