.intro {
    background-color: #f9f9fc;
    padding: 6rem;
    &__title {
        margin: 0;
        font-size: 4rem;
        font-weight: bold;
    }
    &__exp {
        display: flex;
        align-items: center;
        align-content: center;
        gap: 1rem;
        p {
            color: #5e3aee;
            margin: 0;
            font-size: 4rem;
            align-items: center;
            font-weight: bold;
        }
    }
    &__text {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 300;
        span {
            font-weight: bold;
        }
    }
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #5e3aee;
        width: 2.2rem;
        height: 2.2rem;
        border-radius: 50%;
    }
    &__email {
        display: flex;
        align-items: center;
        margin: 2rem 0;
        gap: 1rem;
        input {
            width: 15rem;
            height: 3rem;
            border: none;
            padding-left: 1rem;
        }
        input:focus {
            outline: none;
        }
        button {
            border: none;
            background-color: #656b8e;
            width: 10rem;
            color: white;
            height: 3rem;
        }
        button:hover {
            background-color: #5e3aee;
        }
    }
}

@media only screen and (max-width: 1300px) {
    .intro {
        justify-content: space-around;
        gap: 0;
    }
}

@media only screen and (max-width: 1400px) {
    .intro {
        // min-height: 700px;
        flex-direction: column;
        justify-content: flex-start;
        background-size: 100%;
        align-items: flex-start;
    }
}
@media only screen and (max-width: 650px){
    .intro{
        padding: 2rem;
        &__title{
            font-size: 2rem;
        }
        &__exp{
            margin-top: 1rem;
            min-width: fit-content;
            p{
               font-size: 2rem; 
            }
            
        }
        &__email{
            justify-content: center;
            flex-direction: column;
        }
        
    }
}