.menu {
    &__menu {
        display: flex;
        align-items: center;
        gap: 20px;
        p {
            color: $c-white;
            font-weight: bold;
            margin: 0;
        }
    }
    &__item {
        color: $c-white;
        ul {
            padding: 0;

            list-style: none;
            margin: 0;
            li {
                margin: 5% 0 5% 0;
                a {
                    cursor: pointer;
                }
            }
        }
    }
}
.disable {
    svg {
        transition: all 0.5s ease-in;
        transform: rotate(-90deg);
    }
}
.active {
    svg {
        transition: all 0.5s ease-in;
    }
}
