.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.88);
    position: fixed;
    top: 0;
    left: 0;
    transition: ease-in 0.5s;
    &__content {
        background-color: rgba($color: white, $alpha: 0.005);
        border-radius: 1rem;
        transform: scale(0.5);
        transition: ease-in 0.4s;
    }
}
