.navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    box-sizing: border-box;
    align-items: center;
    &__logo {
        display: flex;
        justify-content: center;
        width: 5rem;
        height: 5rem;
        background-color: white;
        border-radius: 50%;
        img {
            -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7);
        }
    }
    &__menu {
        display: flex;
        gap: 4rem;
        p {
            color: #656b8e;
            font-weight: 500;
            &:hover {
                color: #5e3aee;
            }
        }
        a {
            text-decoration: none;
        }
    }
    &__link {
        display: flex;
        gap: 1rem;
        svg {
            fill: #656b8e;
        }
        svg:hover {
            color: #5e3aee;
        }
    }
    &__mobile {
        display: none;
        z-index: 100;
    }
    &__burgerWrapper {
        position: relative;
        display: flex;
        justify-content: center;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }
    &__burger {
        width: 37px;
        height: 4px;
        background-color: #656b8e;
        border-radius: 5px;
        box-shadow: 0 2px 5px #878ba3;
        transition: all 0.5s ease-in-out;
        &:hover {
            background-color: #5e3aee;
            &::after,
            &::before {
                background-color: #5e3aee;
            }
        }
    }
    &__burger::after,
    &__burger::before {
        content: "";
        position: absolute;
        width: 37px;
        height: 4px;
        background-color: #656b8e;
        border-radius: 5px;
        box-shadow: 0 2px 5px #878ba3;
        transition: all 0.5s ease-in-out;
    }
    &__burger::after {
        transform: translateY(-11px);
    }
    &__burger::before {
        transform: translateY(11px);
    }
    &__burger.active {
        transform: translateX(-40px);
        background: transparent;
        box-shadow: none;
    }
    &__burger.active {
        &::before {
            transform: rotate(45deg) translate(35px, -35px);
        }
        &::after {
            transform: rotate(-45deg) translate(35px, 35px);
        }
    }
    &__burgerItem {
        padding: 1rem;
        a {
            color: #656b8e;
            &:hover {
                color: #5e3aee;
            }
        }
        svg:hover {
            color: #5e3aee;
        }
        font-size: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5rem;
    }
    &__burgerMenu {
    }
    &__burgerLink {
        display: flex;
        gap: 5rem;
    }
    .active {
        p {
            color: #5e3aee;
            transform: scale(107%);
        }
    }
}

@media only screen and (max-width: 700px) {
    .navBar {
        &__menu {
            display: none;
        }
        &__link {
            display: none;
        }
        &__mobile {
            display: block;
        }
    }
}
