.project{
    max-width: 500px;
    position: relative;
    &__text{
        position: absolute;
        padding: 1%;
        top: 10px;
        left: 30px;
        color: $c-white;
    }
    &__img {
        border-radius: 10px;
        img{
            border-radius: 10px;
        }
      
    }

}