.projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    row-gap: 50px;
    &__send{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 5% 0;
        .send-button{
            width: 10rem;
            
        }
    }
    &__item{
        display: flex;
        justify-content: center;
        gap: 5%;
        align-items: center;
        margin: 5rem;
    }
    &__first-item{
        transform: scale(110%);
        z-index: 1;
    }
    h2 {
        color: $c-white;
        font-size: 70px;
        margin: 1rem;
        text-align: center;
    }
}
@media only screen and (max-width: 900px){
    .projects {
        &__item{
            flex-direction: column;
            row-gap: 1rem;
        }
    }
}