.send-button {
    display: flex;
    height: 60px;
    min-width: 200px;
    justify-content: center;
    align-items: center;
    gap: 15%;
    padding: 0 2%;
    font-size: large;
    border-radius: 50px;
    border: 2px solid $c-white;
    color: $c-white;
    overflow: hidden;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
    cursor: pointer;
    p {
        white-space: nowrap;
    }
    .icon {
        transition: 0.2s transform ease-out;
        &__send {
            fill: $c-orchid;
            transition: 0.2s transform ease-in-out;
        }
    }

    &::after {
        background-color: $c-orchid;
        border-radius: 3rem;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-100%, 0) rotate(10deg);
        transform-origin: top left;
        transition: 0.2s transform ease-out;
        will-change: transform;
        z-index: -1;
    }

    &:hover::after {
        transform: translate(0, 0);
    }

    &:hover {
        .icon {
            &__send {
                fill: $c-white;
            }
        }
        border: 2px solid transparent;
        color: indigo;
        transform: scale(1.05);
        will-change: transform;
    }
}
