.services {
    h2 {
        font-size: 40px;
        color: $c-white;
        text-align: center;
        font-family: "Montserrat", sans-serif;
    }
    h3 {
        font-size: 70px;
        letter-spacing: 15px;
        text-align: center;
        color: $c-white;
    }
    &__item {
        display: flex;
        justify-content: center;
        flex-basis: 50%;
        flex-wrap: wrap;
        & > div {
            flex: 50%;
        }
    }
}
@media only screen and (max-width: 600px){
    .services{
        h3{
            font-size: 30px;
        }
    }
}