.service{
    margin:2%;
    display: flex;
    padding:1% 3%;
    max-width: 450px;
    column-gap: 10%;
    border-radius: 90px;
    border: 2px solid $c-cornflower;
    &__img{
        display: flex;
        align-items: center;
    }
    &__content{
        span{
            color: $c-orchid;
        }
         p{
            color: white;
        }
        h4{
            color: $c-white;
            font-size: 22px;
            margin: 10px 0;

        }
      
    }

    &__arrow{
        display: flex;
        align-items: center;
    }
}