.technology {
    display: flex;
    justify-content: center;
    &__wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h2 {
            color: #0F1221;
            font-size: 2rem;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    }
    &__item {
        display: flex;
        gap: 20px;
        padding: 2rem;
        color: #656b8e;
        svg:hover {
            color: #5e3aee;
        }
        img{
            color: #656b8e;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .technology {
        &__item {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }
}
