.uxui {
    width: 50%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 50px;
        color: $c-white;
    }
}
