.websites {
    margin: 2rem;
    justify-content: space-around;
    width: 100%;
    display: flex;
    &__appearance-desktop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1rem;
        p {
            color: $c-white;
            font-size: 24px;
        }
    }
    &__appearance-mobile {
        height: 700px;
        width: 352px;
        background-image: url("../../../../assets/img/output-onlinepngtools.png");
        background-repeat: no-repeat;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        .project {
            width: 95%;
            transform: scaley(110%) translatey(15px);
            border-radius: 5px 5px 50px 50px;
            overflow: hidden;
        }
    }
    &__description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        row-gap: 1rem;
        .send-button {
            width: 15rem;
        }
        p {
            font-size: 24px;
        }
        h2 {
            margin: 1rem 0;
        }
    }
}
@media only screen and( max-width: 1400px) {
    .websites {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 5rem;
    }
}
