.works {
    display: flex;
    justify-content: center;
    align-items: center;
    &__wrapper {
        width: 70%;
        position: relative;
    }
    &__title {
        h2 {
            font-size: 3rem;
        }
        display: flex;
        justify-content: space-between;
    }
    &__lastProj {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: #b6b9c9;
        padding: 0 1rem;
        min-width: 160px;
    }
}
.work {
    padding-bottom: 3rem;
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
        }
    }
    &__title {
        display: flex;
        justify-content: space-between;
    }
    &__titleTypeData {
        display: flex;
        gap: 1rem;
        align-items: center;
        color: #b6b9c9;
    }
    &__link {
        h2 {
            font-size: 2rem;
            font-weight: 500;
            color: #b6b9c9;
        }
        &:hover {
            h2,
            svg {
                color: #5e3aee;
                cursor: pointer;
            }
            text-decoration: underline;
            text-decoration-thickness: 0.5px;
            text-decoration-color: #5e3aee;
        }
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    &__stack {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        font-size: 0.8rem;
        font-weight: 600;
        color: #b6b9c9;
    }
}
@media only screen and (max-width: 1200px) {
    .work{
        &__title{
            flex-wrap: wrap;

        }
        &__link{
            h2{
                font-size: 1.4rem;
            }
        }
        &__titleTypeData{
            justify-content: flex-end;
            flex-basis: 100%;
        }
    }
}
@media only screen and (max-width: 900px){
    .works{
        &__title{
            h2{
                font-size: 2rem;
                min-width: 300px;
            }
            
        }
    }
}

@media only screen and (max-width: 660px){
    .works{
        &__title{

        flex-direction: column;
            
        }
    }
}